@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #F3F4F6
}
.container {
    width: 1392px;
    margin: 0 auto;
}
.activated {
    outline: 3px solid #111827;
}
@media (max-width: 1400px) {
    .container {
        width: 95%;
    }
}
